body{
    background-color: #000000;
    margin: 0;
    padding: auto;
}
.background{
    background-image: url(sw0kdHX.gif);
    background-repeat: no-repeat;
    background-size: cover;
}
.up{
    background-color: blanchedalmond;
    
    margin-right: auto;
    margin-left: auto;
}


blockquote{
    color: black;
    text-align: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px
}
/* .center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 50px;
    
} */

p{ 
    text-align: center;
    padding: 10px;
    margin: 100px;
}

footer{
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-family: sans-serif;
}

.form{
    width: 20%;
    position: relative;
    height: 40px;
    overflow: hidden;
    margin-top: 50px;
    
}

.form input{
    width: 100%;
    height: 100%;
    color: #000000;
    padding-top: 0px;
    border: none;
    outline: none;
    
}

.form label {
    position: absolute;
    bottom: 0px;
    left: 0%;
    width: 100%;
    height: 100%;
    pointer-events: none;
    border-bottom: 0px solid black;
    
}

.form label::after{
    content: "";
    position: absolute;
    left: 0px;
    bottom: -1px;
    height: 100%;
    width: 100%;
    transform: translateX(-100%);
    border-bottom: 0px solid #000000;
    transition: transform 0.3s ease;
    color: rgb(0, 0, 0);
    z-index: 1;
}

.content-name{
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.3s ease;
}

.form input:focus + .label-name .content-name,
.form input:valid + .label-name .content-name {
    transform: translateY(-150%);
    font-size: 14px;
    color: #000000;
}

.form input:focus + .label-name::after,
.form input:valid + .label-name::after {
    transform: translateX(0%);
}

.post{
    text-align: center;
}


.relogio{
    font-size: 3em;
    text-align: center;
    padding: 0%;
    color: wheat;
    font-family: arial;
    z-index: 1;
    margin-top: 100px;
    
}